@import "colors";
@import "config";

.container {
  padding: 70px 20px 50px 20px;

  .card {
    padding: 50px;
    max-width: 335px;
    margin: auto;
    color: $transparent-white;

    h2 {
      font-family: "Big Shoulders Display", sans-serif;
      text-transform: uppercase;
      font-size: 40px;
      color: $very-light-gray;
      margin-top: 25px;
    }

    p {
      margin-top: 25px;
      line-height: 1.8;
    }
  }

  .card:first-child {
    background-color: $bright-orange;
    border-radius: 5px 5px 0 0;

    a {
      text-decoration: none;
      color: $bright-orange;
    }

    a:visited {
      color: $bright-orange;
    }
  }

  .card:nth-child(2) {
    background-color: $dark-cyan;
    border-radius: 0;

    a {
      text-decoration: none;
      color: $dark-cyan;
    }

    a:visited {
      color: $dark-cyan;
    }
  }

  .card:last-child {
    background-color: $very-dark-cyan;
    border-radius: 0 0 5px 5px;

    a {
      text-decoration: none;
      color: $dark-cyan;
    }

    a:visited {
      color: $dark-cyan;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 0 10px 50px 10px;

  a {
    color: hsl(228, 45%, 44%);
  }
}

// Tablets
@media (min-width: 750px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    max-width: 960px;
    margin: auto;
    display: flex;

    .card {
      padding: 35px;
      height: 500px;
      position: relative;

      p {
        font-size: 14px;
      }

      .btn {
        position: absolute;
        bottom: 35px;
        left: 35px;
      }
    }

    .card:first-child {
      border-radius: 5px 0 0 5px;
    }

    .card:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
}

// Desktop
@media (min-width: 1000px) {
  .container {
    .card {
      padding: 50px;
      p {
        font-size: 15px;
      }

      .btn {
        position: absolute;
        bottom: 50px;
        left: 50px;
      }
    }
  }
}
